<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ana Sayfa{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
</head>
<body>
<header>
    <nav>
        <div style="margin: auto">
            <ul>
                <li>
                    <a href="{{ path('app_home') }}">Ana Sayfa</a>
                </li>
                <li>
                    <a href="{{ path('customer_list') }}">Müşteriler</a>
                </li>
                <li>
                    <a href="{{ path('order_list') }}">Sipariş Listesi</a>
                </li>
                <li>
                    <a href="{{ path('app_about') }}">Hakkımızda</a>
                </li>
            </ul>
        </div>
        <div class="new-nav">
            <button onclick="location.href='{{ path('app_logout') }}'">Çıkış Yap</button>
        </div>
    </nav>
</header>
<div style="display: flex">
    <aside>
        {% block left_bar %}
            <div style="background-color: #f2f2f2; padding: 10px;">
                <h2>Sol Kenar Çubuğu Başlığı</h2>
                <p>Bu bir örnek sol kenar çubuğu içeriğidir.</p>
            </div>
        {% endblock %}
    </aside>
    <main>
        {% block body %}{% endblock %}

{#        {% block customers_list %} {% endblock %}#}

{#        {% block customer_add %} {% endblock %}#}
        {% block customer_content %} {% endblock %}

        {% block order_list %}{% endblock %}

        {% block about_us %} {% endblock %}
    </main>
</div>
<footer>
    <p>&copy; 2023 Symfony Projesi</p>
</footer>

{% block javascripts %}
    <script src="{{ asset('js/scripts.js') }}"></script>
{% endblock %}
</body>
</html>
